{
    "extends": ["react-app", "@ackee/eslint-config", "prettier"],
    "rules": {
        "no-restricted-globals": "off"
    },
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"]
            }
        }
    }
}
